@font-face {
    font-family: 'Jetbrains Mono';
    src: url('../fonts/jetbrains.woff2') format('woff2'),
         url('../fonts/jetbrains.woff') format('woff'),
         url('../fonts/jetbrains.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-primary: #171717;
    --text-primary: #cdcdcd;
    --text-secondary: #5d5d5d;
    --accent: #fff;

    --text-link: #167dff;
    --text-danger: #ff3d3d;
    --font-family: 'Jetbrains Mono', Consolas, 'Courier New', Courier, monospace;
}

.sand {
    --background-primary: #282828;
    --text-primary: #ebdbb2;
    --text-secondary: #5d5d5d;
    --accent: #fff;

    --text-link: #458588;
    --text-danger: #ff5757;
}

.nord {
    --background-primary: #2f3440;
    --text-primary: #d8dee9;
    --text-secondary: #4c566a;
    --accent: #fff;

    --text-link: #88c0d0;
    --text-danger: #bf616a;
}

.gruvbox {
    --background-primary: #fbf1c7;
    --text-primary: #3c3836;
    --text-secondary: #928374;
    --accent: #7c6f64;

    --text-link: #076678;
    --text-danger: #cc241d;
}

.lightsout {
    --background-primary: #000;
    --text-primary: #fff;
    --text-secondary: #fff;
    --accent: #fff;

    --text-link: #167dff;
    --text-danger: #ff3d3d;
}

* {
    margin: 0;
    font-family: var(--font-family);
    transition: background .2s ease,
        color .1s ease;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;

    background: var(--background-primary);
    color: var(--text-primary);

    font-size: .875rem;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
}

input {
    width: 12.5rem;
    height: 2.5rem;
    margin-bottom: .625rem;
    padding-left: .9375rem;
    border: .125rem solid var(--accent);
    background-color: var(--main-background);
    color: var(--main-text);
    outline: none;
}

button {
    padding: .75rem 1.25rem;
    margin-top: .9375rem;
    background: var(--accent);
    line-height: 0;
    border: 0;
    cursor: pointer;
    transition: background .2s ease;
}

button:hover {
    background: var(--text-primary);
}

button svg {
    display: inline-block;
    vertical-align: middle;
    width: 1.375rem;
    height: 1rem;
    margin-left: .9375rem;
}

.container {
    margin: auto;
}

.chat {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: .125rem solid var(--accent);
    text-align: left;
}

.chat a {
    color: var(--text-link);
}

.chat form {
    position: relative;
    align-items: center;
    width: 100%;
    max-width: unset;
    max-height: 50vh;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: .125rem solid var(--accent);
}

.chatbox {
    width: 100%;
    height: fit-content;
    padding: .75rem .9375rem;
    outline: none;
    white-space: break-spaces;
    -webkit-user-modify: read-write-plaintext-only;
}

.placeholder {
    color: var(--text-secondary);
    position: absolute;
    margin: .75rem .9375rem ;
}

.messageContainer {
    overflow-y: scroll;
    height: calc(100% - 2.75rem);
}

.message {
    margin: 1.25rem;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.message:first-child {
    margin-top: 3.125rem;
}

.message svg {
    height: 1rem;
    margin-right: .375rem;
}

.message h2 {
    display: inline;
    font-size: 1rem;
    font-weight: 400;
}

.message span {
    font-size: .875rem;
    margin-left: .75rem;
    color: var(--text-secondary);
}

.error {
    color: var(--text-danger);
}

.error:empty {
    padding-bottom: 1.125rem;
}

a {
    color: var(--text-primary);
    text-decoration: underline;
}

form {
    max-width: 17.1875rem;
    margin-bottom: 1.5625rem;
}

.settingsButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    display: flex;
    color: var(--accent);
    background: var(--background-primary);
    border: .125rem solid var(--accent);
    cursor: pointer;
}

.settingsButton:hover svg {
    transform: rotate(60deg);
}

.settingsButton svg {
    margin: auto;
    width: 2rem;
    height: 2rem;
    transition: transform .2s ease;
}

.settings {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.backdrop {
    position: inherit;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.modal {
    box-sizing: border-box;
    max-width: 21.25rem;
    margin: auto;
    font-size: 1rem;
    padding: 2.5rem 3.125rem;
    background: var(--background-primary);
    border: .125rem solid var(--accent);
    z-index: 1000;
}

.modal h3:first-child {
    margin-top: 0;
}

.modal h3 {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: .875rem;
    margin: 1.25rem 0 .3125rem;
}

.modal span {
    display: inline;
    overflow-wrap: break-word;
}

.modal p:first-of-type {
    margin-top: 2rem;
}

.modal p, .modal a {
    display: block;
    color: var(--text-link);
    padding: .625rem;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.color {
    display: inline-block!important;
    width: .75rem;
    height: .75rem;
    margin-left: .5rem;
    border-radius: .1875rem;
}

.logout {
    color: var(--text-danger)!important;
}

.admin {
    overflow-x: scroll;
    overflow-wrap: break-word;
    padding: 1.25rem;
}

.admin > p {
    display: inline;
    color: var(--text-link);
    margin-right: 1rem;
    text-decoration: underline;
    margin-bottom: .625rem;
    cursor: pointer;
}

.user p {
    margin-bottom: 1.25rem;
    display: inline-block;
}

.user p:nth-child(2) {
    margin-left: .5rem;
    color: var(--text-secondary);
}

::-webkit-scrollbar {
    width: .625rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border: .1875rem solid var(--background-primary);
}

@media screen and (max-width: 600px) {
    .modal {
        padding: 1.25rem 1.5625rem;
        margin-bottom: 3rem;
        max-width: calc(100% - 1.25rem);
    }
}